html {
	background-color: #DAE9EE;
}
body {
	color: black;
	width: 720px;
}
main {
	margin-left: 20px;
	margin-right: 20px;
}
@media (max-width: 400px){
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}a {
	color: black;
	display: block;
	width: 60px;
}
a:hover {
	color: white;
}
a:link {
	text-decoration: none;
}
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
#divA {
	margin-right: 300px;
	margin-left: 100px;
	margin-top: 20px;
}
#divB {
	width: 503px;
	height: 486px;
	float: right; 
}
#NAV {
	margin-right: 10px;
	margin-top: 50px
}
	













