html {
	background-color: #DAE9EE;
}
body {
	color: black;
}
h2{
	margin: 0 auto;
}
main {
	margin-left: 20px;
	margin-right: 20px;
}
@media screen and (max-width: 400px){
	h1{
		font-size: 20px;
	}
	h2{
	font-size: 30px;
	}
}
h1 {
	color: black;
	font-size: 300%;
	font-weight: bold;
	text-align: center;
	margin-bottom: 40px;
	margin-top: 40px;
}

header {
	border-top: 3px black solid;
	border-bottom: 1px grey solid;
}

li {
	display:inline-block;
	padding: 10px;
	column-span: 50px;
}
a {
	color: black;
	display: block;
	width: 60px;
}
a:hover {
	color: white;
}
a:link {
	text-decoration: none;
}
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
.NAV{
	display:inline-block;
	padding: 10px;
	column-span: 50px;
	text-align: center;
	margin-right: 10px;
	margin-top: 50px;
	width: 100px;
}

.List{
	float: right;
	text-transform: justify;

}













