html {
	background-color: #DAE9EE;
	text-align:center;
}
body {
	color: black;
	width: 720px;
}
main {
	margin-left: 40px;
	margin-right: 20px;
}
h1, h2 {
	padding: 10px;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li a {
	display: block;
	width: 60px;
}
li a:hover {
	color: white;
}
